/* Width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Dark color for track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Lighter color for scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color for scrollbar on hover */
  }
  